html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    line-height: 1.8;
    background-color: #c6c6c6;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.contenedor {
        width: 95%;
        max-width: 120rem;
        margin: 2rem auto;
        background-color: white;
        border-radius: 20px;
        padding: 1rem 10rem;
}

.centrar{
    text-align: center;
}

a{
    text-decoration: none;
}

img{
    width: 200px;
    
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{font-size: 1.5rem;}

p{
    font-size: 1rem;
}


/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    width: 100%;
    height: 5rem;
    background-color: white;
    
}


.boton-header{
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    padding: 1rem 2.5rem;
    margin-right:0.5rem;
    

    &:hover{
       box-shadow: 1px 1px 10px 1px rgb(73, 73, 73);
    }
}

.datos-personales{
    display: flex;
    justify-content: space-around;
    
}

.centrar-listas{
    display: flex;  
    flex-direction: column;
    align-items: center;
}

.botones{
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 2rem;
}
.boton{
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 2rem 5rem;
    

    &:hover{
       box-shadow: 1px 1px 10px 1px rgb(73, 73, 73);
    }
}

.experiencia-habilidades{
    display: flex;
    justify-content: space-around;

}